.git
.gitmodules
**/.git
**/venv
**/.venv
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.env
**/.env.*
**/node_modules
**/.claude
**/.cursor
**/*.md
!deploy/**/*.md
converza_web/Converza_ai/.next
**/.DS_Store
converza_web/Converza_ai/web/.next
converza_web/Converza_ai/web/out
converza_web/Converza_ai/web/node_modules
